{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="block-signup">
        <h2>Создание аккаунта</h2>
        <form action="" method="post">
            {% csrf_token %}
            {% for f in form %}
            <p><label for="form-class" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button>
                <p>Создать аккаунт</p>
            </button>
        </form>
        <div class="link-ease-in-out">
            <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>
</body>

</html>